<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="fragments :: sidebar">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments :: topbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div th:if="${orders.size() == 0}">
                    <p>No orders</p>
                </div>
                <table class="table table-bordered" th:if="${orders.size() > 0}">
                    <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.orderDate}"></td>
                        <td th:text="${order.totalPrice}"></td>
                        <td th:text="${order.orderStatus}"></td>
                        <td>
                            <form th:action="@{/accept-order}" method="post">
                                <input type="hidden" name="orderId" th:value="${order.id}">
                                <button type="submit" class="btn btn-success">Accept</button>
                            </form>
                            <form th:action="@{/reject-order}" method="post">
                                <input type="hidden" name="orderId" th:value="${order.id}">
                                <button type="submit" class="btn btn-danger">Reject</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments :: footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="fragments :: scroll">
</a>

<!--Logout Modal-->

<!--End-->

<!-- Bootstrap core JavaScript-->
<div th:replace="fragments :: script"></div>

</body>

</html>
