<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments::head"> </head>
  <body>
    <div class="page-wrapper">
      <header class="header header-intro-clearance header-3">
        <div th:replace="fragments::header-top"></div>
        <div th:replace="fragments::header-middle"></div>
        <div th:replace="fragments::header-bottom"></div>
      </header>
      <!-- End .header -->

      <main class="main" th:if="shoppingCart != null">
        <div
          class="page-header text-center"
          style="background-image: url('assets/images/page-header-bg.jpg')"
        >
          <div class="container">
            <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
          </div>
          <!-- End .container -->
        </div>
        <!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
          <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/shop">Home</a></li>
              <li class="breadcrumb-item"><a href="/shop/products">Shop</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Shopping Cart
              </li>
            </ol>
          </div>
          <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->

        <div class="page-content">
          <div class="cart">
            <div class="container">
              <div class="row">
                <div class="col-lg-9">
                  <table class="table table-cart table-mobile">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody th:if="shoppingCart.cartItem == null">
                      <tr>
                        <td colspan="5">
                          <p>Your cart is empty</p>
                        </td>
                        <td>
                          <a href="/shop/products" class="btn btn-outline-primary-2">
                            Go Shopping<i class="icon-arrow-left"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div
                    class="d-flex justify-content-between align-items-start"
                  >
                    <div class="cart-bottom" style="display: block" th:if="discounted == 0">
                      <div class="cart-discount">
                        <form th:action="@{/apply-voucher}" method="post">
                          <div class="input-group">
                            <input
                              type="hidden"
                              name="totalPrice"
                              th:value="${subTotal}"
                            />
                            <input
                              type="hidden"
                              name="customerId"
                              th:value="${customerId}"
                            />
                            <input
                              type="text"
                              class="form-control"
                              name="voucherCode"
                              placeholder="Coupon code"
                            />
                            <div class="input-group-append">
                              <button
                                class="btn btn-outline-primary-2"
                                type="submit"
                              >
                                <i class="icon-long-arrow-right"></i>
                              </button>
                            </div>
                            <!-- .End .input-group-append -->
                          </div>
                          <!-- End .input-group -->
                        </form>
                      </div>
                    </div>

                    <div class="cart-bottom" style="display: block">
                      <div
                        class="voucher"
                        style="
                          padding: 10px;
                          border: 2px dashed #fcb941;
                          background: #f5eeee;
                          margin-bottom: 8px;
                        "
                        th:if="listVoucher != null"
                        th:each="voucher : ${listVoucher}"
                      >
                        <span
                          th:text="${voucher.code}"
                          class=""
                          style="font-weight: 600; color: #fcb941"
                        ></span>
                        <span
                          th:text="' saved ' + ${voucher.discountPercentage} + '%'"
                        ></span>
                        <span
                          th:text="' with a minimum ' + ' $' + ${voucher.minPurchaseAmount}"
                        ></span>
                      </div>
                    </div>
                  </div>
                  <!-- End .cart-bottom -->
                </div>
                <!-- End .col-lg-9 -->
                <aside class="col-lg-3">
                  <div class="summary summary-cart">
                    <h3 class="summary-title">Cart Total</h3>
                    <!-- End .summary-title -->

                    <table class="table table-summary">
                      <tbody>
                        <tr class="summary-subtotal">
                          <td>Subtotal:</td>
                          <td th:text="'$' + ${subTotal == null ? 0 : subTotal}"></td>
                        </tr>

                        <tr th:if="${discounted != null}">
                          <td>Saved:</td>
                          <td th:text="'$' + ${discounted}"></td>
                        </tr>
                        <!-- End .summary-subtotal -->
                        <tr class="summary-shipping">
                          <td>Shipping:</td>
                          <td>&nbsp;</td>
                        </tr>

                        <tr class="summary-shipping-row">
                          <td>
                            <div class="custom-control custom-radio">
                              <input
                                type="radio"
                                id="free-shipping"
                                name="shipping"
                                class="custom-control-input"
                              />
                              <label
                                class="custom-control-label"
                                for="free-shipping"
                                >Free Shipping</label
                              >
                            </div>
                            <!-- End .custom-control -->
                          </td>
                          <td>$0.00</td>
                        </tr>
                        <tr class="summary-total">
                          <td>Total:</td>
                          <td th:text="'$' + ${total== null ? 0 : total}"></td>
                        </tr>
                        <!-- End .summary-total -->
                      </tbody>
                    </table>
                    <!-- End .table table-summary -->

                    <a
                      href="/shop/checkout"
                      class="btn btn-outline-primary-2 btn-order btn-block"
                      >PROCEED TO CHECKOUT</a
                    >
                  </div>
                  <!-- End .summary -->

                  <a
                    href="/shop/products/0"
                    class="btn btn-outline-dark-2 btn-block mb-3"
                    ><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i
                  ></a>
                </aside>
                <!-- End .col-lg-3 -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .container -->
          </div>
          <!-- End .cart -->
        </div>
        <!-- End .page-content -->
      </main>
      <!-- End .main -->

      <footer class="footer">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="widget widget-about">
                  <img
                    src="assets/images/logo.png"
                    class="footer-logo"
                    alt="Footer Logo"
                    width="105"
                    height="25"
                  />
                  <p>
                    Praesent dapibus, neque id cursus ucibus, tortor neque
                    egestas augue, eu vulputate magna eros eu erat.
                  </p>

                  <div class="social-icons">
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Facebook"
                      ><i class="icon-facebook-f"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Twitter"
                      ><i class="icon-twitter"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Instagram"
                      ><i class="icon-instagram"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Youtube"
                      ><i class="icon-youtube"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Pinterest"
                      ><i class="icon-pinterest"></i
                    ></a>
                  </div>
                  <!-- End .soial-icons -->
                </div>
                <!-- End .widget about-widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Useful Links</h4>
                  <!-- End .widget-title -->

                  <ul class="widget-list">
                    <li><a href="about.html">About Molla</a></li>
                    <li><a href="#">How to shop on Molla</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="login.html">Log in</a></li>
                  </ul>
                  <!-- End .widget-list -->
                </div>
                <!-- End .widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Customer Service</h4>
                  <!-- End .widget-title -->

                  <ul class="widget-list">
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Money-back guarantee!</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                  <!-- End .widget-list -->
                </div>
                <!-- End .widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">My Account</h4>
                  <!-- End .widget-title -->

                  <ul class="widget-list">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="cart.html">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Help</a></li>
                  </ul>
                  <!-- End .widget-list -->
                </div>
                <!-- End .widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .footer-middle -->

        <div class="footer-bottom">
          <div class="container">
            <p class="footer-copyright">
              Copyright © 2019 Molla Store. All Rights Reserved.
            </p>
            <!-- End .footer-copyright -->
            <figure class="footer-payments">
              <img
                src="assets/images/payments.png"
                alt="Payment methods"
                width="272"
                height="20"
              />
            </figure>
            <!-- End .footer-payments -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .footer-bottom -->
      </footer>
      <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top">
      <i class="icon-arrow-up"></i>
    </button>
    <!-- End .mobile-menu-container -->


    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
