<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments::head"> </head>
<body>
<div class="page-wrapper">
  <header class="header header-intro-clearance header-3">
    <div th:replace="fragments::header-top"></div>
    <div th:replace="fragments::header-middle"></div>
    <div th:replace="fragments::header-bottom"></div>
  </header>
  <main class="main">
    <div
            class="page-header text-center"
            th:style="'background-image: url(' + @{/assets/images/page-header-bg.jpg} + ')'">

      <div class="container">
        <h1 class="page-title" th:text="${category.name}"></h1>
      </div>
      <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/shop/">Home</a></li>
          <li class="breadcrumb-item"><a href="/shop/products/0">Category</a></li>
        </ol>
      </div>
      <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="toolbox">

              <div class="toolbox-right">
                <div class="toolbox-sort">
                  <label for="sortby">Sort by:</label>
                  <div class="select-custom">
                    <select name="sortby" id="sortby" class="form-control">
                      <option value="popularity" selected="selected">
                        Most Popular
                      </option>
                      <option value="rating">Most Rated</option>
                      <option value="date">Date</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- End .toolbox-right -->
            </div>
            <!-- End .toolbox -->

            <div class="products mb-3">
              <div class="row justify-content-center">
                <div class="col-6 col-md-4 col-lg-4 col-xl-3"
                     th:each="product : ${productsPage}">
                  <div class="product product-7 text-center">
                    <form th:action="@{/add-to-cart}" method="post">
                    <figure class="product-media">
                      <span class="product-label label-new">New</span>
                      <a th:href="@{'/product/' + ${product.id}}">
                        <img th:src="'data:image/jpeg;base64,' + ${product.image}" class="product-image" alt="Product image" />
                      </a>

                      <!-- End .product-action-vertical -->

                      <div class="product-action">
                        <button
                                class="btn-product btn-cart"
                                style="border: none"
                        >
                          <span>add to cart</span>
                        </button>
                      </div>
                      <input
                              type="hidden"
                              th:value="${product.id}"
                              name="id"
                      />
                      <input type="hidden" th:value="1" name="quantity" />
                      <!-- End .product-action -->
                    </figure>
                    <!-- End .product-media -->

                    <div class="product-body">
                      <div class="product-cat">
                        <p th:text="${product.category.name}"></p>
                      </div>
                      <!-- End .product-cat -->
                      <h3 class="product-title">
                        <a th:href="@{'/product/' + ${product.id}}"
                           th:text="${product.name}"
                        ></a
                        >
                      </h3>
                      <!-- End .product-title -->
                      <div class="product-price"
                           th:text="'$' + ${product.costPrice}"></div>
                      <!-- End .product-price -->
                    </div>
                    <!-- End .product-body -->
                    </form>
                  </div>
                  <!-- End .product -->
                </div>
                <!-- End .col-sm-6 col-lg-4 col-xl-3 -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .products -->

            <nav aria-label="Page navigation" th:if="${currentPage < totalPages}">
              <ul class="pagination justify-content-center">
                <li th:if = "${currentPage != 0}" class="page-item">
                  <a
                          class="page-link page-link-prev"
                          th:href="@{'/products-in-category/' + ${category.id} + '/' + ${currentPage - 1}}"
                          aria-label="Previous"
                          tabindex="-1"
                          aria-disabled="true"
                  >
                        <span aria-hidden="true"
                        ><i class="icon-long-arrow-left"></i></span
                        >Prev
                  </a>
                </li>
                <li th:each = "i : ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${currentPage == i - 1 ? 'active' : ''}"
                    class="page-item" aria-current="page">
                  <a class="page-link"
                     th:href="@{'/products-in-category/'+ ${category.id} + '/' +  ${i - 1}}"
                     th:text = "${i}"
                     th:style="${i == (currentPage + 1) ? '' : 'color: grey'}"
                  ></a>
                </li>
                <li class="page-item-total" th:text="'of ' + ${totalPages}"></li>
                <li th:if = "${currentPage + 1 != totalPages}"
                    class="page-item">
                  <a
                          class="page-link page-link-next"
                          th:href="@{'/products-in-category/' + ${category.id} + '/' + ${currentPage + 1}}"
                          aria-label="Next"
                  >
                    Next
                    <span aria-hidden="true"
                    ><i class="icon-long-arrow-right"></i
                    ></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- End .col-lg-9 -->
          <aside class="col-lg-3 order-lg-first">
            <div class="sidebar sidebar-shop">
              <div class="widget widget-clean">
                <label>Filters:</label>
                <a th:href="@{/products/0}" class="sidebar-filter-clear">Clean All</a>
              </div>
              <!-- End .widget widget-clean -->

              <div class="widget">
                <h3 class="widget-title">
                  <a>
                    Category
                  </a>
                </h3>
                <!-- End .widget-title -->

                <div class="collapse show" id="widget-1">
                  <div class="widget-body">
                    <div class="filter-items filter-items-count">
                      <div class="filter-item" th:each="category1 : ${categories}">
                        <div>
                          <a  th:href="@{'/products-in-category/' + ${category1.categoryId} + '/0'}">
                          <span th:text="${category1.categoryName}"
                                th:style="${category1.categoryName == category.name ? '' : 'color: black'}"></span>
                          </a>
                        </div>


                        <!-- End .custom-checkbox -->
                        <span class="item-count" th:text="${category1.numberOfProduct}"></span>
                      </div>
                      <!-- End .filter-item -->

                    </div>
                    <!-- End .filter-items -->
                  </div>
                  <!-- End .widget-body -->
                </div>
                <!-- End .collapse -->
              </div>
              <!-- End .widget -->

              <!-- End .widget-title -->
              <!-- End .widget -->
            </div>
            <!-- End .sidebar sidebar-shop -->
          </aside>
          <!-- End .col-lg-3 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .page-content -->
  </main>
  <!-- End .main -->

  <footer class="footer">
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="widget widget-about">
              <img
                      th:src="@{/assets/images/logo.png}"
                      class="footer-logo"
                      alt="Footer Logo"
                      width="105"
                      height="25"
              />
              <p>
                Praesent dapibus, neque id cursus ucibus, tortor neque
                egestas augue, eu vulputate magna eros eu erat.
              </p>

              <div class="social-icons">
                <a
                        href="#"
                        class="social-icon"
                        target="_blank"
                        title="Facebook"
                ><i class="icon-facebook-f"></i
                ></a>
                <a
                        href="#"
                        class="social-icon"
                        target="_blank"
                        title="Twitter"
                ><i class="icon-twitter"></i
                ></a>
                <a
                        href="#"
                        class="social-icon"
                        target="_blank"
                        title="Instagram"
                ><i class="icon-instagram"></i
                ></a>
                <a
                        href="#"
                        class="social-icon"
                        target="_blank"
                        title="Youtube"
                ><i class="icon-youtube"></i
                ></a>
                <a
                        href="#"
                        class="social-icon"
                        target="_blank"
                        title="Pinterest"
                ><i class="icon-pinterest"></i
                ></a>
              </div>
              <!-- End .soial-icons -->
            </div>
            <!-- End .widget about-widget -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">Useful Links</h4>
              <!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="about.html">About Molla</a></li>
                <li><a href="#">How to shop on Molla</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a href="login.html">Log in</a></li>
              </ul>
              <!-- End .widget-list -->
            </div>
            <!-- End .widget -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">Customer Service</h4>
              <!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Money-back guarantee!</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
              <!-- End .widget-list -->
            </div>
            <!-- End .widget -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->

          <div class="col-sm-6 col-lg-3">
            <div class="widget">
              <h4 class="widget-title">My Account</h4>
              <!-- End .widget-title -->

              <ul class="widget-list">
                <li><a href="#">Sign In</a></li>
                <li><a href="cart.html">View Cart</a></li>
                <li><a href="#">My Wishlist</a></li>
                <li><a href="#">Track My Order</a></li>
                <li><a href="#">Help</a></li>
              </ul>
              <!-- End .widget-list -->
            </div>
            <!-- End .widget -->
          </div>
          <!-- End .col-sm-6 col-lg-3 -->
        </div>
        <!-- End .row -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .footer-middle -->

    <div class="footer-bottom">
      <div class="container">
        <p class="footer-copyright">
          Copyright © 2019 Molla Store. All Rights Reserved.
        </p>
        <!-- End .footer-copyright -->
        <figure class="footer-payments">
          <img
                  th:src="@{/assets/images/payments.png}"
                  alt="Payment methods"
                  width="272"
                  height="20"
          />
        </figure>
        <!-- End .footer-payments -->
      </div>
      <!-- End .container -->
    </div>
    <!-- End .footer-bottom -->
  </footer>
  <!-- End .footer -->
</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top">
  <i class="icon-arrow-up"></i>
</button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div>
<!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
  <div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="icon-close"></i></span>

    <form action="#" method="get" class="mobile-search">
      <label for="mobile-search" class="sr-only">Search</label>
      <input
              type="search"
              class="form-control"
              name="mobile-search"
              id="mobile-search"
              placeholder="Search in..."
              required
      />
      <button class="btn btn-primary" type="submit">
        <i class="icon-search"></i>
      </button>
    </form>
    <!-- End .mobile-nav -->

    <div class="social-icons">
      <a href="#" class="social-icon" target="_blank" title="Facebook"
      ><i class="icon-facebook-f"></i
      ></a>
      <a href="#" class="social-icon" target="_blank" title="Twitter"
      ><i class="icon-twitter"></i
      ></a>
      <a href="#" class="social-icon" target="_blank" title="Instagram"
      ><i class="icon-instagram"></i
      ></a>
      <a href="#" class="social-icon" target="_blank" title="Youtube"
      ><i class="icon-youtube"></i
      ></a>
    </div>
    <!-- End .social-icons -->
  </div>
  <!-- End .mobile-menu-wrapper -->
</div>
<!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<div
        class="modal fade"
        id="signin-modal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
        >
          <span aria-hidden="true"><i class="icon-close"></i></span>
        </button>

        <div class="form-box">
          <div class="form-tab">
            <ul class="nav nav-pills nav-fill" role="tablist">
              <li class="nav-item">
                <a
                        class="nav-link active"
                        id="signin-tab"
                        data-toggle="tab"
                        href="#signin"
                        role="tab"
                        aria-controls="signin"
                        aria-selected="true"
                >Sign In</a
                >
              </li>
              <li class="nav-item">
                <a
                        class="nav-link"
                        id="register-tab"
                        data-toggle="tab"
                        href="#register"
                        role="tab"
                        aria-controls="register"
                        aria-selected="false"
                >Register</a
                >
              </li>
            </ul>
            <div class="tab-content" id="tab-content-5">
              <div
                      class="tab-pane fade show active"
                      id="signin"
                      role="tabpanel"
                      aria-labelledby="signin-tab"
              >
                <form action="/do-login">
                  <div class="form-group">
                    <label for="username"
                    >Username or email address *</label
                    >
                    <input
                            type="text"
                            class="form-control"
                            id="username"
                            name="username"
                            required
                    />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-group">
                    <label for="password">Password *</label>
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                    />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>LOG IN</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>

                    <div class="custom-control custom-checkbox">
                      <input
                              type="checkbox"
                              class="custom-control-input"
                              id="signin-remember"
                      />
                      <label
                              class="custom-control-label"
                              for="signin-remember"
                      >Remember Me</label
                      >
                    </div>
                    <!-- End .custom-checkbox -->

                    <a href="#" class="forgot-link"
                    >Forgot Your Password?</a
                    >
                  </div>
                  <!-- End .form-footer -->
                </form>
                <div class="form-choice">
                  <p class="text-center">or sign in with</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-g">
                        <i class="icon-google"></i>
                        Login With Google
                      </a>
                    </div>
                    <!-- End .col-6 -->
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-f">
                        <i class="icon-facebook-f"></i>
                        Login With Facebook
                      </a>
                    </div>
                    <!-- End .col-6 -->
                  </div>
                  <!-- End .row -->
                </div>
                <!-- End .form-choice -->
              </div>
              <!-- .End .tab-pane -->
              <div
                      class="tab-pane fade"
                      id="register"
                      role="tabpanel"
                      aria-labelledby="register-tab"
              >
                <form th:action="@{/do-register}" method="post" th:object="${customerDto}">
                  <div class="form-group">
                    <label for="firstName">First name</label>
                    <input
                            type="text"
                            class="form-control"
                            id="username"
                            name="firstName"
                            required
                            th:field="*{firstName}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input
                            type="text"
                            class="form-control"
                            id="lastName"
                            name="lastName"
                            required
                            th:field="*{lastName}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                            th:field="*{username}"
                    />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-group">
                    <label for="password">Password *</label>
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                            th:field="*{password}"
                    />
                  </div>

                  <div class="form-group">
                    <label for="verifyPassword">Verify password</label>
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="verifyPassword"
                            required
                            th:field="*{repeatPassword}"
                    />
                  </div>
                  <!-- End .form-group -->

                  <div class="form-footer">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>SIGN UP</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>

                    <div class="custom-control custom-checkbox">
                      <input
                              type="checkbox"
                              class="custom-control-input"
                              id="policy"
                              required
                      />
                      <label
                              class="custom-control-label"
                              for="register-policy"
                      >I agree to the
                        <a href="#">privacy policy</a> *</label
                      >
                    </div>
                    <!-- End .custom-checkbox -->
                  </div>
                  <!-- End .form-footer -->
                </form>
                <div class="form-choice">
                  <p class="text-center">or sign in with</p>
                  <div class="row">
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-g">
                        <i class="icon-google"></i>
                        Login With Google
                      </a>
                    </div>
                    <!-- End .col-6 -->
                    <div class="col-sm-6">
                      <a href="#" class="btn btn-login btn-f">
                        <i class="icon-facebook-f"></i>
                        Login With Facebook
                      </a>
                    </div>
                    <!-- End .col-6 -->
                  </div>
                  <!-- End .row -->
                </div>
                <!-- End .form-choice -->
              </div>
              <!-- .End .tab-pane -->
            </div>
            <!-- End .tab-content -->
          </div>
          <!-- End .form-tab -->
        </div>
        <!-- End .form-box -->
      </div>
      <!-- End .modal-body -->
    </div>
    <!-- End .modal-content -->
  </div>
  <!-- End .modal-dialog -->
</div>
<!-- End .modal -->

<!-- Plugins JS File -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/assets/js/superfish.min.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/wNumb.js}"></script>
<script th:src="@{/assets/js/bootstrap-input-spinner.js}"></script>
<script th:src="@{/assets/js/nouislider.min.js}"></script>
<!-- Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>
</body>

<!-- molla/category-4cols.html  22 Nov 2019 10:02:55 GMT -->
</html>
